* {
    text-align: center;
    background-color: antiquewhite;
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}


button {
    padding: 10px;
    width: 100px;
    height: 100px;
    background-color: lightyellow;
    border: 2px solid lightpink;
    border-radius: 5%;
    font-size: xx-large;
}

.outcome {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.results .score{
    text-align: center;
    background-color: antiquewhite;
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    padding: 15px;
    margin: 15px;
    border: 2px dotted lightgreen;
}
